/* Offer Section  */
.offer-content {
  overflow: hidden;
}

.offer-item {
  width: 30%;
  position: relative;
  border: 1px solid var(--Whisper);
  padding: 30px 15px 30px 70px;
}

.offer-item.mg {
  margin-inline: 5%;
}

.offer-item .icon {
  position: absolute;
  top: 35px;
  left: 20px;
  color: var(--lightBlue);
}

.offer-item-title {
  text-transform: capitalize;
  transition: color .5s;
}

.offer-item:hover .offer-item-title {
  color: var(--white)
}

.offer-item-desc {
  text-transform: capitalize;
  line-height: 1.5;
  color: var(--Nobel)
}