.mg-b-5 {
  margin-block-end: 5px;
}

.mg-b-10 {
  margin-block-end: 10px;
}

.mg-b-15 {
  margin-block-end: 15px;
}

.mg-b-20 {
  margin-block-end: 20px;
}

.mg-b-25 {
  margin-block-end: 25px;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.float-left {
  float: left;
}

.overflow-hidden {
  overflow: hidden;
}